.bg{
    /* background: url(./background.png); */
    background-repeat: no-repeat;
    /* height: 100vh; */
}
.form-container{
    border: 1px solid;
    border-radius: 10px;
    /* color: aliceblue; */
    padding: 50px 60px;
    margin-top: 12vh;
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
    /* box-shadow: -1px 4px 16px 2px rgba(0,0,0,0.75); */
}